.recipe {
  padding: 12px;
  background-color: #fbe5e7;
  border-radius: 10px;

  &__link {
    display: block;
    position: relative;
    height: 130px;
    margin-bottom: 12px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__servings {
    position: absolute;
    left: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 4px;
    border-radius: 100px;
    background-color: var(--color-white);
    cursor: default;
  }
}
