.recipe {
  padding: 12px;
  background-color: #fbe5e7;
  border-radius: 10px;

  &__link {
    display: block;
    position: relative;
    height: 130px;
    margin-bottom: 12px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__servings {
    position: absolute;
    left: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 4px;
    border-radius: 100px;
    background-color: var(--color-white);
    cursor: default;

    & > span {
      font-size: 14px;
      color: var(--main-text-color);
      text-transform: capitalize;
    }

    & > svg {
      height: 16px;
      width: 16px;
      stroke: var(--main-text-color);
    }
  }

  &__like {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 28px;
    width: 28px;
    top: 4px;
    right: 8px;
    border-radius: 50px;
    background-color: var(--color-white);

    &:hover > svg {
      fill: var(--color-red);
      stroke: var(--color-red);
    }

    & > svg {
      height: 20px;
      width: 20px;
      stroke: var(--main-text-color);
    }
  }

  &__heading {
    font-size: 17px;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 4px;
  }

  &__subheading {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }

  &__health {
    display: flex;
    align-items: center;
    gap: 8px;

    & > span {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 6px;
      border-radius: 6px;
      background-color: #fdc6c7;

      & > svg {
        height: 16px;
        width: 16px;
        stroke: var(--main-text-color);
      }

      & > span {
        font-size: 14px;
        font-weight: 700;
        color: var(--main-text-color);
      }
    }
  }
}
