@use "../../index.scss";

.mobileNavigation {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: var(--border);
  height: 50px;
  display: none;

  @include index.respond(sm) {
    display: flex;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
    }

    & > svg {
      stroke: var(--main-text-color);
      height: 24px;
      width: 24px;
    }

    &.active > svg {
      stroke: var(--color-red);
    }
  }
}
