.mobileNavigation {
  //   border: solid yellow;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-top: var(--border);

  &__list {
    border: solid green;
  }
}
