.mobileNavigation {
  //   border: solid yellow;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-top: var(--border);
  height: 50px;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
    }

    & > svg {
      stroke: var(--main-text-color);
      height: 24px;
      width: 24px;
    }
  }
}
