:root {
  // COLORS
  --main-bg-color: #faf9fb;
  --main-text-color: #1f2937;
  --color-white: #fff;
  --color-red: #ef4444;
  --light-grey-1: #cecfd4;
  --light-grey-2: #9ca3af;
  --light-blue-1: #64748b;

  // FONT SIZES
  --default-font-size: 16px;

  // BORDERS
  --border: 1px solid #e5e7eb;

  // WIDTHS
  --max-width: 1024px;

  // BOX SHADOWS
  --box-shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

// MEDIA QUERY BREAKPOINTS
// 'sm': '640px', => @media (max-width: 640px)

// 'md': '768px', => @media (max-width: 768px)

// 'lg': '1024px', => @media (max-width: 1024px)

// 'xl': '1280px', => @media (max-width: 1280px)

// 'xl2': '1280px to Infinity', => @media (min-width: 1280px)

// MEDIA QUERY BREAKPOINT PARAMETERS
// $sm
// $md
// $lg
// $xl
// $xl2

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 1.2;
  background-color: var(--color-white);
  min-height: 100vh;
}
