@use "../../index.scss";

.desktopNavigation {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  flex: 0 0 256px;
  padding: 40px;
  border-right: var(--border);
  background-color: var(--color-white);

  @include index.respond(md) {
    flex: 0 0 96px;
    padding: 40px 10px;
  }

  @include index.respond(sm) {
    display: none;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-color);
    text-transform: capitalize;
    margin-bottom: 80px;

    @include index.respond(md) {
      font-size: 20px;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;

    @include index.respond(md) {
      display: flex;
      justify-content: center;
    }

    &:link,
    &:visited {
      text-decoration: none;
    }

    & svg {
      stroke: var(--main-text-color);
      height: 24px;
      width: 24px;
    }

    & span {
      font-size: 16px;
      font-weight: 700;
      color: var(--main-text-color);
      text-transform: capitalize;

      @include index.respond(md) {
        display: none;
      }
    }
  }
}
