.desktopNavigation {
  width: 256px;
  padding: 40px;
  border-right: var(--border);

  &__heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-color);
    text-transform: capitalize;
    margin-bottom: 80px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
